body{
    background-color: white;
    font-family: sans-serif;
    font-size: large;
}
h1{
    font-family: Arial, sans-serif; 
    color:rgb(215, 54, 81);
    text-align: center;
    background-color: lightpink;
    height: auto;
}
form{
    height: 400px;
    width: 900px;
    background-color: palevioletred;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-left: 160px;
}
label{
    display: block;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 2px;
}
input[type="text"]{
    background-color: whitesmoke;
    height: 20px;
    width: 100%;
    /* align-items: center; */
    border: 1px solid black;
    border-radius: 3px;
}
input[type="submit"]{
    background-color: whitesmoke;
    height: 30px;
    width: 100px;
    border: 1px solid black;
    border-radius: 3px;
}


